.shop-overlay{
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.595);
    position: fixed;
    top: 0;
    left: 0;
    animation-name: fade-in-animation;
    animation-duration: 1s;
    backdrop-filter: blur(10px);
}

.shop-overlay-hide{
    animation-name: fade-out-animation;
    animation-duration: 600ms;
}
@keyframes fade-in-animation{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-animation{
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}


.shop-cart-bar{
    z-index: 3;
    position: fixed;
    animation-name: slide-in;
    animation-duration: 1s;
    overflow: auto;
}

.shopping-bar-hide {
    animation-name: slide-out;
    animation-duration: 600ms;
  }


@keyframes slide-in{
    0% {transform: translateX(40rem);}
    50% {transform: translateX(-1.5rem);}
    100%{transform: translateX(0);}
}

.shopping-bar-hide {
    animation-name: slide-out;
    animation-duration: 600ms;
  }


  @keyframes slide-out {
    0% { transform: translateX(0); }
    100% { transform: translateX(40rem); }
}


.shop-cart-bar > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart-item{
    display: flex;
    gap: 2rem;
}


.cart-item-width{
    width: 20rem;
}

.cart-item-img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cart-item-img > img{
    width: 4rem;
}

.cart-item-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-nums{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.cart-item-nums > button{
    background-color: #e2e8f0;
    height: 1.5rem;
    width:1.5rem;
    border-style: none;
}


.purchase-item{
    margin-top: 3rem;
    width: 23rem;
    height: 10rem;
    padding: 3rem 0;
}




.checkout-btn:hover{
    cursor: pointer;
    background-color: #3b82f6;
}





@media only screen and (min-width: 767px) {




.shop-cart-bar{
    width: 25rem;
    height: 100vh;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 1000;
    overflow: auto;
    padding: 3rem 5rem;
}

.purchase-item{
    border-top: 2px solid gray;
}




.checkout-btn-border{
    margin-top: 0.4rem;
    position: relative;
    border-radius: 60px;
    height: 3.5rem;
    background-color: black;
    padding: 0;
    border-style:solid;
}

.checkout-btn{
    margin-left: 0.3rem;
    transform: translateY(-0.3rem);
    position: absolute;
    border-radius: 30px;
    padding: 1rem;
    width: 100%;
    border-style:solid;
}

.subtotal-div{
    display: flex;
    justify-content: space-between;
}

.shoppingBarTop > button {
    display: none;
}


}

@media only screen and (max-width: 767px) {
    .shop-overlay{display: none;}
    .shoppingBarTop{
        display: flex;
        gap: 4rem;
        align-items: center;
    }

    .shoppingBarTop > button {
        padding: 1rem;
        border: none;
        background-color: white;
        text-transform: uppercase;
        font-size: 2rem;
    }

    .shop-cart-bar{
        z-index: 3;
        position: fixed ;
        width: 100vw;
        height: 100%;
        background-color: white;
        top: 0;
        padding: 1rem 1.8rem;
        animation-name: slide-in;
        animation-duration: 1s;
    }

    .cart-item{
        flex-direction: column;
        align-items: first baseline;
    }
    
    .subtotal-div{
        display: flex;
        gap: 1rem;
        padding-left: 1rem;
    }

    .checkout-btn{
        border-radius: 30px;
        padding: 1rem;
        width: 10rem;
        border-style:solid;
    }

}