.footerDiv{
    background-color: #082f49;
    width: 100%;
}

.footerContents > div > p{
    color: white;
}

.footerContents > div > h2{
    color: white;
}

.footerLogo-txts{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    color: white;

}



.footerLinks > ul > li > a{
    color: white;
    text-decoration: none;
    
}


.footerLinks > ul > li{
    list-style: none;
    margin: 0.5rem 0;
}



@media only screen and (min-width: 767px) {


.footerContents{
    display: flex;
    justify-content: space-between;
    padding: 5rem 6rem 0 5rem;
    
}

.footerLogo-txts{
    width: 40rem;
}


.footerLogo-txts > h2{
    font-size: 3rem;
}


.footerLinks{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}


}



@media only screen and (max-width: 767px){

    .footerDiv{
        padding: 2rem 0;
    }


    .footerContents{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .footerLogo-txts{
        text-align: center;
    }

    .footerLinks > h2{
        text-align: center;
    }

    .footerLinks > ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}