.navBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 1;
    gap: 1rem;
    top:0;
    left: 0;
    background-color: #3b83f610;
    backdrop-filter: blur(5px);
}

.navbarLogo{
    width: 80%;
    text-transform: uppercase;
}
.navbarLogo > a {
    text-decoration: none;
    color: #3b82f6;
    font-size: 2rem;
    cursor: pointer;
}

.navBar > ul{
    list-style-type: none;
    margin: 0;  
    padding: 0px;  
    overflow: hidden; 
    display: flex;
    gap: 1rem;
}

.navBar-l-cont > li > a{
    display: block;
    color:black;
   font-size:1.6rem;  
    text-align: center;
    padding: 0.5rem; 
    text-decoration: none;  

}

.navBar-l-cont > li > a:hover{
    color: #3b82f6;
}

.navBar-cont > li:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.274);
    animation-name: fade-in-animation-navBar;
    animation-duration: 500ms;
}

@keyframes fade-in-animation-navBar{
    0% {
        opacity: 0.5;
        background-color: white;

        
    }
    100% {
        opacity: 1;
        background-color: rgba(128, 128, 128, 0.274);
    }
}

.navBar-r-cont{
    cursor: pointer;
}

.navBar-r-cont > img{
    width: 2.7rem;
    padding-right: 1rem;
}
.cart-bar{
    width: 50rem;
    height: 100vh;
}

.cart-alert{
    background-color: rgba(255, 0, 0, 0.707);
    padding: 0.4rem;
    border-radius: 10px;
    color: white;
    position: absolute;
    font-size: 0.7rem;
    transform: translate(-2rem,-0.2rem);
}



@media only screen and (max-width: 767px) {



.hide_home{
    display: none;
}

.navBar-l-cont >  li > a{
    font-size: 1.2rem;
}





}