.shop-items-container{
    animation-name: fade-in-animation-shopCart;
    animation-duration: 500ms;
}


@keyframes fade-in-animation-shopCart{
    0% {
        opacity: 0;
        transform: translateX(2rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.item-listing{
    display: flex;
    justify-content: center;
    padding: 3rem;
    
}


.shop-items-container{
    display: flex;
    padding: 0;
    flex-wrap: wrap;

}



.shop-items:hover{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    animation-name: fade-in-animation-shop-items;
    animation-duration: 500ms;
}

@keyframes fade-in-animation-shop-items{
    0% {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    100% {
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }
}

.items-img-container{
    height: 40%;
   overflow: hidden;
   padding: 1rem;
   overflow: hidden;
}



.items-img-container > img{
    
    width:100%;
    height:100%;
    object-fit: contain;
}

.item-details{
    padding: 1rem;
}

.shop-item-title{
    height: 3.6rem;
    
    overflow: hidden;
}
.shop-item-title > p{
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-price{
    color: #B12704;
}

.item-price-section{
    display: flex;
    gap: 2rem;
    padding: 2rem 0.9rem 0 0 ;
    align-items: center;
    justify-content: space-between;
}

.rating-tag{
    background-color: green;
    color: white;
    width: 2rem;
    text-align: center;
    border-radius: 7px;
    padding: 0.1rem;
}

.item-price-section > button{
    border-style: none;
    padding: 0.5rem ;
    border-radius: 7px;
    border: 2px solid #3b82f6;
    color: #3b82f6;
}
.item-price-section > button:hover{
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    
    animation-name: fade-in-animation-btn;
    animation-duration: 500ms;
}



@media only screen and (min-width: 767px) {

    .shop-items{
        width: 18rem;
        height: 27rem;
        padding: 0.5rem;
        margin: 1rem 1.3rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
    
    }




    @keyframes fade-in-animation-btn{
        0% {
            background-color: white;
            color: black;
        }
        100% {
            background-color: #3b82f6;
            color: white;
        }
    }
}


@media only screen and (max-width: 767px) {

    .shop-items{
        width: 90vw;
        height: 10rem;
        padding: 0.5rem;
        margin: 1rem 1.3rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
    
    }

    .shop-items-container{
        flex-direction: column;
    }


    .shop-items{
        display: flex;
    }


    .items-img-container{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 10rem;
    }


    .item-details{
        width: 30rem;
    }
}